/* ==UserStyle==
@name           SneshGPT
@namespace      github.com/openstyles/stylus
@version        1.1.6
@description    A new userstyle
@author         sensha
@preprocessor 	less 
@updateURL		https://github.com/senshastic/sneshGPT/raw/refs/heads/main/css/SneshGPT.user.css
@var select		gradType    "Gradient style" ["animated:Animated*", "flouss: Static", "nouss:None"]
@var checkbox	grain "Grainy texture" 1
@var color   	gradcolor1 "Gradient Color 1" rgb(43, 1, 91)
@var color   	gradcolor2 "Gradient Color 2" rgb(122, 2, 54)
@var color   	gradcolor3 "Gradient Color 3" rgb(8, 19, 54)
@var color   	gradcolor4 "Gradient Color 4" rgb(26, 58, 102)
==/UserStyle== */
@-moz-document domain("chatgpt.com") {

    /*SECTION [SNESHLIB - Start] */
    /*ANCHOR [VARIABLES]*/
    @hap				: url('https://github.com/senshastic/sneshGPT/blob/main/assets/Hap.png?raw=true');
    @borderRadius		: 12px;
    @creamColor			: #d0b575;
    @creamColorMuted	: #4f4733;



    /*ANCHOR [DETACHED RULESETS] */
    @gradientBackground: {
        background: linear-gradient(109.6deg, @gradcolor1 0%, @gradcolor2 25%, @gradcolor3 50%, @gradcolor4 100%);
    }

    @gradientAnimation: {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }

    @buttons: {
        background-color: rgba(5, 5, 5, .18) !important;
        border-radius: 12px !important;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @buttonsHover: {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform: translateY(-4px);
    }

    @transparentButtons: {
        border-radius: 12px !important;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @buttonsFlat: {
        border-radius: 12px !important;
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }


    @transparentButtonsHover: {
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        -webkit-backdrop-filter: blur(100px);
        backdrop-filter: blur(100px) saturate(110%);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform: translateY(-4px);
    }


    @buttonsHoverWhite: {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(255, 255, 255, .37) !important;
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transform: translateY(-4px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform box-shadow 0.3s ease-in-out;
    }

    @menuItemHover: {
        border: 1px solid rgba(0, 204, 255, 0.6);
        background-color: rgba(5, 5, 5, 0.35) !important;
        box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
        transform: translateY(-2px);
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-radius: 12px;
    }

    @grainyTexture: {
        content: "" !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        pointer-events: none !important;
        z-index: 0 !important;
        background: url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") repeat !important;
        opacity: 0.23 !important;
    }

    @backdrop: {
        background-color: rgba(5, 5, 5, .18) !important;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding: 5px;
    }

    @backdropSimpler: {
        background-color: rgba(5, 5, 5, .18) !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @disappear: {
        background: transparent !important;
        border: 0px;
        box-shadow: none;
    }

    @transparent: {
        background: transparent;
    }

    @noise: {
        content: "" !important;
        background: url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") repeat !important;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        pointer-events: none !important;
        z-index: -1 !important;
        opacity: 0.23 !important;
    }


    @boxShadowHover: {
        box-shadow: 0 0px 10px rgba(0, 204, 255, 0.6);
        background-color: rgba(0, 81, 255, 0.1);
    }

    @textArea: {
        border: 1.5px solid @creamColor !important;
        background-color: transparent !important;
    }

    @doubleThingy: {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(25px) saturate(200%) contrast(90%);
        -webkit-backdrop-filter: blur(25px) saturate(200%) contrast(90%);
        color: white;
        z-index: 1000;
        overflow-y: auto;
        scrollbar-width: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
        border-radius: inherit;
    }

    /* ANCHOR [ANIMATIONS] */
    @hoverChannelSlide: {
        margin-left: 10px !important;
        transition: margin-left 0.2s ease;
        background-color: transparent;
    }

    /* Snake */
    @snakeTarget: {
        position: relative;
        padding: 16px;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        overflow: hidden;
    }


    @snakeBefore: {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        padding: 3px;
        background: linear-gradient(90deg, transparent 0%, transparent 40%, white 50%, transparent 60%, transparent 100%);
        background-size: 200% 200%;
        animation: smoothSnakeLine 6s linear infinite;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }

    @snakeFastBefore: {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 3px;
        background: conic-gradient(from var(--start-angle) at 50% 50%, var(--radial-gradient-gold));
        animation: smoothSnakeSpin 4s linear infinite;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: -1;
    }

    @keyframes smoothSnakeLine {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 200% 50%;
        }
    }

    @keyframes smoothSnakeSpin {
        0.0% {
            background: conic-gradient(from calc(var(--start-angle) + 0.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        0.5% {
            background: conic-gradient(from calc(var(--start-angle) + 1.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        1.0% {
            background: conic-gradient(from calc(var(--start-angle) + 3.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        1.5% {
            background: conic-gradient(from calc(var(--start-angle) + 5.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        2.0% {
            background: conic-gradient(from calc(var(--start-angle) + 7.2deg) at 50% 50%, var(--radial-gradient-gold));
        }
        2.5% {
            background: conic-gradient(from calc(var(--start-angle) + 9.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        3.0% {
            background: conic-gradient(from calc(var(--start-angle) + 10.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        3.5% {
            background: conic-gradient(from calc(var(--start-angle) + 12.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        4.0% {
            background: conic-gradient(from calc(var(--start-angle) + 14.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        4.5% {
            background: conic-gradient(from calc(var(--start-angle) + 16.2deg) at 50% 50%, var(--radial-gradient-gold));
        }
        5.0% {
            background: conic-gradient(from calc(var(--start-angle) + 18.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        5.5% {
            background: conic-gradient(from calc(var(--start-angle) + 19.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        6.0% {
            background: conic-gradient(from calc(var(--start-angle) + 21.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        6.5% {
            background: conic-gradient(from calc(var(--start-angle) + 23.400000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        7.0% {
            background: conic-gradient(from calc(var(--start-angle) + 25.2deg) at 50% 50%, var(--radial-gradient-gold));
        }
        7.5% {
            background: conic-gradient(from calc(var(--start-angle) + 27.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        8.0% {
            background: conic-gradient(from calc(var(--start-angle) + 28.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        8.5% {
            background: conic-gradient(from calc(var(--start-angle) + 30.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        9.0% {
            background: conic-gradient(from calc(var(--start-angle) + 32.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        9.5% {
            background: conic-gradient(from calc(var(--start-angle) + 34.2deg) at 50% 50%, var(--radial-gradient-gold));
        }
        10.0% {
            background: conic-gradient(from calc(var(--start-angle) + 36.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        10.5% {
            background: conic-gradient(from calc(var(--start-angle) + 37.800000000000004deg) at 50% 50%, var(--radial-gradient-gold));
        }
        11.0% {
            background: conic-gradient(from calc(var(--start-angle) + 39.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        11.5% {
            background: conic-gradient(from calc(var(--start-angle) + 41.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        12.0% {
            background: conic-gradient(from calc(var(--start-angle) + 43.2deg) at 50% 50%, var(--radial-gradient-gold));
        }
        12.5% {
            background: conic-gradient(from calc(var(--start-angle) + 45.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        13.0% {
            background: conic-gradient(from calc(var(--start-angle) + 46.800000000000004deg) at 50% 50%, var(--radial-gradient-gold));
        }
        13.5% {
            background: conic-gradient(from calc(var(--start-angle) + 48.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        14.0% {
            background: conic-gradient(from calc(var(--start-angle) + 50.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        14.5% {
            background: conic-gradient(from calc(var(--start-angle) + 52.2deg) at 50% 50%, var(--radial-gradient-gold));
        }
        15.0% {
            background: conic-gradient(from calc(var(--start-angle) + 54.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        15.5% {
            background: conic-gradient(from calc(var(--start-angle) + 55.800000000000004deg) at 50% 50%, var(--radial-gradient-blue));
        }
        16.0% {
            background: conic-gradient(from calc(var(--start-angle) + 57.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        16.5% {
            background: conic-gradient(from calc(var(--start-angle) + 59.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        17.0% {
            background: conic-gradient(from calc(var(--start-angle) + 61.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        17.5% {
            background: conic-gradient(from calc(var(--start-angle) + 63.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        18.0% {
            background: conic-gradient(from calc(var(--start-angle) + 64.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        18.5% {
            background: conic-gradient(from calc(var(--start-angle) + 66.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        19.0% {
            background: conic-gradient(from calc(var(--start-angle) + 68.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        19.5% {
            background: conic-gradient(from calc(var(--start-angle) + 70.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        20.0% {
            background: conic-gradient(from calc(var(--start-angle) + 72.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        20.5% {
            background: conic-gradient(from calc(var(--start-angle) + 73.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        21.0% {
            background: conic-gradient(from calc(var(--start-angle) + 75.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        21.5% {
            background: conic-gradient(from calc(var(--start-angle) + 77.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        22.0% {
            background: conic-gradient(from calc(var(--start-angle) + 79.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        22.5% {
            background: conic-gradient(from calc(var(--start-angle) + 81.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        23.0% {
            background: conic-gradient(from calc(var(--start-angle) + 82.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        23.5% {
            background: conic-gradient(from calc(var(--start-angle) + 84.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        24.0% {
            background: conic-gradient(from calc(var(--start-angle) + 86.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        24.5% {
            background: conic-gradient(from calc(var(--start-angle) + 88.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        25.0% {
            background: conic-gradient(from calc(var(--start-angle) + 90.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        25.5% {
            background: conic-gradient(from calc(var(--start-angle) + 91.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        26.0% {
            background: conic-gradient(from calc(var(--start-angle) + 93.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        26.5% {
            background: conic-gradient(from calc(var(--start-angle) + 95.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        27.0% {
            background: conic-gradient(from calc(var(--start-angle) + 97.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        27.5% {
            background: conic-gradient(from calc(var(--start-angle) + 99.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        28.0% {
            background: conic-gradient(from calc(var(--start-angle) + 100.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        28.5% {
            background: conic-gradient(from calc(var(--start-angle) + 102.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        29.0% {
            background: conic-gradient(from calc(var(--start-angle) + 104.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        29.5% {
            background: conic-gradient(from calc(var(--start-angle) + 106.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        30.0% {
            background: conic-gradient(from calc(var(--start-angle) + 108.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        30.5% {
            background: conic-gradient(from calc(var(--start-angle) + 109.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        31.0% {
            background: conic-gradient(from calc(var(--start-angle) + 111.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        31.5% {
            background: conic-gradient(from calc(var(--start-angle) + 113.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        32.0% {
            background: conic-gradient(from calc(var(--start-angle) + 115.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        32.5% {
            background: conic-gradient(from calc(var(--start-angle) + 117.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        33.0% {
            background: conic-gradient(from calc(var(--start-angle) + 118.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        33.5% {
            background: conic-gradient(from calc(var(--start-angle) + 120.60000000000001deg) at 50% 50%, var(--radial-gradient-blue));
        }
        34.0% {
            background: conic-gradient(from calc(var(--start-angle) + 122.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        34.5% {
            background: conic-gradient(from calc(var(--start-angle) + 124.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        35.0% {
            background: conic-gradient(from calc(var(--start-angle) + 126.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        35.5% {
            background: conic-gradient(from calc(var(--start-angle) + 127.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        36.0% {
            background: conic-gradient(from calc(var(--start-angle) + 129.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        36.5% {
            background: conic-gradient(from calc(var(--start-angle) + 131.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        37.0% {
            background: conic-gradient(from calc(var(--start-angle) + 133.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        37.5% {
            background: conic-gradient(from calc(var(--start-angle) + 135.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        38.0% {
            background: conic-gradient(from calc(var(--start-angle) + 136.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        38.5% {
            background: conic-gradient(from calc(var(--start-angle) + 138.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        39.0% {
            background: conic-gradient(from calc(var(--start-angle) + 140.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        39.5% {
            background: conic-gradient(from calc(var(--start-angle) + 142.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        40.0% {
            background: conic-gradient(from calc(var(--start-angle) + 144.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        40.5% {
            background: conic-gradient(from calc(var(--start-angle) + 145.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        41.0% {
            background: conic-gradient(from calc(var(--start-angle) + 147.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        41.5% {
            background: conic-gradient(from calc(var(--start-angle) + 149.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        42.0% {
            background: conic-gradient(from calc(var(--start-angle) + 151.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        42.5% {
            background: conic-gradient(from calc(var(--start-angle) + 153.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        43.0% {
            background: conic-gradient(from calc(var(--start-angle) + 154.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        43.5% {
            background: conic-gradient(from calc(var(--start-angle) + 156.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        44.0% {
            background: conic-gradient(from calc(var(--start-angle) + 158.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        44.5% {
            background: conic-gradient(from calc(var(--start-angle) + 160.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        45.0% {
            background: conic-gradient(from calc(var(--start-angle) + 162.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        45.5% {
            background: conic-gradient(from calc(var(--start-angle) + 163.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        46.0% {
            background: conic-gradient(from calc(var(--start-angle) + 165.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        46.5% {
            background: conic-gradient(from calc(var(--start-angle) + 167.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        47.0% {
            background: conic-gradient(from calc(var(--start-angle) + 169.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        47.5% {
            background: conic-gradient(from calc(var(--start-angle) + 171.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        48.0% {
            background: conic-gradient(from calc(var(--start-angle) + 172.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        48.5% {
            background: conic-gradient(from calc(var(--start-angle) + 174.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        49.0% {
            background: conic-gradient(from calc(var(--start-angle) + 176.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        49.5% {
            background: conic-gradient(from calc(var(--start-angle) + 178.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        50.0% {
            background: conic-gradient(from calc(var(--start-angle) + 180.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        50.5% {
            background: conic-gradient(from calc(var(--start-angle) + 181.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        51.0% {
            background: conic-gradient(from calc(var(--start-angle) + 183.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        51.5% {
            background: conic-gradient(from calc(var(--start-angle) + 185.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        52.0% {
            background: conic-gradient(from calc(var(--start-angle) + 187.20000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        52.5% {
            background: conic-gradient(from calc(var(--start-angle) + 189.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        53.0% {
            background: conic-gradient(from calc(var(--start-angle) + 190.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        53.5% {
            background: conic-gradient(from calc(var(--start-angle) + 192.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        54.0% {
            background: conic-gradient(from calc(var(--start-angle) + 194.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        54.5% {
            background: conic-gradient(from calc(var(--start-angle) + 196.20000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        55.0% {
            background: conic-gradient(from calc(var(--start-angle) + 198.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        55.5% {
            background: conic-gradient(from calc(var(--start-angle) + 199.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        56.0% {
            background: conic-gradient(from calc(var(--start-angle) + 201.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        56.5% {
            background: conic-gradient(from calc(var(--start-angle) + 203.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        57.0% {
            background: conic-gradient(from calc(var(--start-angle) + 205.20000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        57.5% {
            background: conic-gradient(from calc(var(--start-angle) + 207.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        58.0% {
            background: conic-gradient(from calc(var(--start-angle) + 208.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        58.5% {
            background: conic-gradient(from calc(var(--start-angle) + 210.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        59.0% {
            background: conic-gradient(from calc(var(--start-angle) + 212.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        59.5% {
            background: conic-gradient(from calc(var(--start-angle) + 214.20000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        60.0% {
            background: conic-gradient(from calc(var(--start-angle) + 216.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        60.5% {
            background: conic-gradient(from calc(var(--start-angle) + 217.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        61.0% {
            background: conic-gradient(from calc(var(--start-angle) + 219.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        61.5% {
            background: conic-gradient(from calc(var(--start-angle) + 221.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        62.0% {
            background: conic-gradient(from calc(var(--start-angle) + 223.20000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        62.5% {
            background: conic-gradient(from calc(var(--start-angle) + 225.0deg) at 50% 50%, var(--radial-gradient-gold));
        }
        63.0% {
            background: conic-gradient(from calc(var(--start-angle) + 226.8deg) at 50% 50%, var(--radial-gradient-gold));
        }
        63.5% {
            background: conic-gradient(from calc(var(--start-angle) + 228.6deg) at 50% 50%, var(--radial-gradient-gold));
        }
        64.0% {
            background: conic-gradient(from calc(var(--start-angle) + 230.4deg) at 50% 50%, var(--radial-gradient-gold));
        }
        64.5% {
            background: conic-gradient(from calc(var(--start-angle) + 232.20000000000002deg) at 50% 50%, var(--radial-gradient-gold));
        }
        65.0% {
            background: conic-gradient(from calc(var(--start-angle) + 234.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        65.5% {
            background: conic-gradient(from calc(var(--start-angle) + 235.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        66.0% {
            background: conic-gradient(from calc(var(--start-angle) + 237.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        66.5% {
            background: conic-gradient(from calc(var(--start-angle) + 239.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        67.0% {
            background: conic-gradient(from calc(var(--start-angle) + 241.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        67.5% {
            background: conic-gradient(from calc(var(--start-angle) + 243.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        68.0% {
            background: conic-gradient(from calc(var(--start-angle) + 244.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        68.5% {
            background: conic-gradient(from calc(var(--start-angle) + 246.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        69.0% {
            background: conic-gradient(from calc(var(--start-angle) + 248.4deg) at 50% 50%, var(--radial-gradient-blue));
        }
        69.5% {
            background: conic-gradient(from calc(var(--start-angle) + 250.20000000000002deg) at 50% 50%, var(--radial-gradient-blue));
        }
        70.0% {
            background: conic-gradient(from calc(var(--start-angle) + 252.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        70.5% {
            background: conic-gradient(from calc(var(--start-angle) + 253.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        71.0% {
            background: conic-gradient(from calc(var(--start-angle) + 255.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        71.5% {
            background: conic-gradient(from calc(var(--start-angle) + 257.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        72.0% {
            background: conic-gradient(from calc(var(--start-angle) + 259.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        72.5% {
            background: conic-gradient(from calc(var(--start-angle) + 261.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        73.0% {
            background: conic-gradient(from calc(var(--start-angle) + 262.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        73.5% {
            background: conic-gradient(from calc(var(--start-angle) + 264.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        74.0% {
            background: conic-gradient(from calc(var(--start-angle) + 266.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        74.5% {
            background: conic-gradient(from calc(var(--start-angle) + 268.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        75.0% {
            background: conic-gradient(from calc(var(--start-angle) + 270.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        75.5% {
            background: conic-gradient(from calc(var(--start-angle) + 271.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        76.0% {
            background: conic-gradient(from calc(var(--start-angle) + 273.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        76.5% {
            background: conic-gradient(from calc(var(--start-angle) + 275.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        77.0% {
            background: conic-gradient(from calc(var(--start-angle) + 277.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        77.5% {
            background: conic-gradient(from calc(var(--start-angle) + 279.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        78.0% {
            background: conic-gradient(from calc(var(--start-angle) + 280.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        78.5% {
            background: conic-gradient(from calc(var(--start-angle) + 282.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        79.0% {
            background: conic-gradient(from calc(var(--start-angle) + 284.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        79.5% {
            background: conic-gradient(from calc(var(--start-angle) + 286.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        80.0% {
            background: conic-gradient(from calc(var(--start-angle) + 288.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        80.5% {
            background: conic-gradient(from calc(var(--start-angle) + 289.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        81.0% {
            background: conic-gradient(from calc(var(--start-angle) + 291.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        81.5% {
            background: conic-gradient(from calc(var(--start-angle) + 293.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        82.0% {
            background: conic-gradient(from calc(var(--start-angle) + 295.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        82.5% {
            background: conic-gradient(from calc(var(--start-angle) + 297.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        83.0% {
            background: conic-gradient(from calc(var(--start-angle) + 298.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        83.5% {
            background: conic-gradient(from calc(var(--start-angle) + 300.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        84.0% {
            background: conic-gradient(from calc(var(--start-angle) + 302.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        84.5% {
            background: conic-gradient(from calc(var(--start-angle) + 304.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        85.0% {
            background: conic-gradient(from calc(var(--start-angle) + 306.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        85.5% {
            background: conic-gradient(from calc(var(--start-angle) + 307.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        86.0% {
            background: conic-gradient(from calc(var(--start-angle) + 309.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        86.5% {
            background: conic-gradient(from calc(var(--start-angle) + 311.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        87.0% {
            background: conic-gradient(from calc(var(--start-angle) + 313.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        87.5% {
            background: conic-gradient(from calc(var(--start-angle) + 315.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        88.0% {
            background: conic-gradient(from calc(var(--start-angle) + 316.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        88.5% {
            background: conic-gradient(from calc(var(--start-angle) + 318.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        89.0% {
            background: conic-gradient(from calc(var(--start-angle) + 320.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        89.5% {
            background: conic-gradient(from calc(var(--start-angle) + 322.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        90.0% {
            background: conic-gradient(from calc(var(--start-angle) + 324.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        90.5% {
            background: conic-gradient(from calc(var(--start-angle) + 325.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        91.0% {
            background: conic-gradient(from calc(var(--start-angle) + 327.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        91.5% {
            background: conic-gradient(from calc(var(--start-angle) + 329.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        92.0% {
            background: conic-gradient(from calc(var(--start-angle) + 331.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        92.5% {
            background: conic-gradient(from calc(var(--start-angle) + 333.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        93.0% {
            background: conic-gradient(from calc(var(--start-angle) + 334.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        93.5% {
            background: conic-gradient(from calc(var(--start-angle) + 336.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        94.0% {
            background: conic-gradient(from calc(var(--start-angle) + 338.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        94.5% {
            background: conic-gradient(from calc(var(--start-angle) + 340.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        95.0% {
            background: conic-gradient(from calc(var(--start-angle) + 342.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        95.5% {
            background: conic-gradient(from calc(var(--start-angle) + 343.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        96.0% {
            background: conic-gradient(from calc(var(--start-angle) + 345.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        96.5% {
            background: conic-gradient(from calc(var(--start-angle) + 347.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        97.0% {
            background: conic-gradient(from calc(var(--start-angle) + 349.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        97.5% {
            background: conic-gradient(from calc(var(--start-angle) + 351.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
        98.0% {
            background: conic-gradient(from calc(var(--start-angle) + 352.8deg) at 50% 50%, var(--radial-gradient-blue));
        }
        98.5% {
            background: conic-gradient(from calc(var(--start-angle) + 354.6deg) at 50% 50%, var(--radial-gradient-blue));
        }
        99.0% {
            background: conic-gradient(from calc(var(--start-angle) + 356.40000000000003deg) at 50% 50%, var(--radial-gradient-blue));
        }
        99.5% {
            background: conic-gradient(from calc(var(--start-angle) + 358.2deg) at 50% 50%, var(--radial-gradient-blue));
        }
        100.0% {
            background: conic-gradient(from calc(var(--start-angle) + 360.0deg) at 50% 50%, var(--radial-gradient-blue));
        }
    }

    @animateBouncyDown: {
        background-color: rgba(0, 14, 58, 0) !important;
        border-radius: 12px;
        box-shadow: 0 0px 10px rgba(255, 255, 255, 0.781);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        animation: animateDownBouncy 1.5s linear;
    }

    @keyframes animateDownBouncy {
        0% {
            transform: translateY(-20px);
            opacity: 0;
            filter: blur(4px);
        }
        30% {
            transform: translateY(10px);
            opacity: 0.7;
            filter: blur(2px);
        }
        50% {
            transform: translateY(-5px);
            opacity: 1;
            filter: blur(0);
        }
        80% {
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);
        }
        100% {
            transform: translateY(0);
            opacity: 1;
            filter: blur(0);
        }
    }

    /*!SECTION [SNESHLIB - End]*/
    .gizmo-bot-avatar {
        content: url('https://github.com/senshastic/sneshGPT/blob/main/assets/Hap.png?raw=true');
        width: 32px;
        height: 32px;
    }


    div.gizmo-shadow-stroke.relative.flex.h-full.items-center.justify-center.rounded-full.bg-token-main-surface-primary.text-token-text-primary {
        content: url('https://github.com/senshastic/sneshGPT/blob/main/assets/Hap.png?raw=true');
        width: 30px;
        height: 30px;
        margin-top: -3px;
    }

    .rounded-sm {
        content: url("https://github.com/senshastic/sneshGPT/blob/main/assets/senshasip_big.png?raw=true");
        width: 32px;
        /* Adjust the width as needed */
        height: 32px;
        /* Adjust the height as needed */
    }



    body when (@gradType =flouss) {
        background: linear-gradient(109.6deg,
        @gradcolor3 0%,
        @gradcolor4 25%,
        @gradcolor1 50%,
        @gradcolor2 100%);
        margin: 0;
    }


    body when (@gradType =animated) {
        background: linear-gradient(109.6deg, @gradcolor3 13.4%, @gradcolor4 25%, @gradcolor1 70%, @gradcolor2 100.2%);
        background-size: 400% 400%;
        animation: gradientAnimation 20s ease infinite;
    }


    body when (@gradType =nouss) {
        background-color: @gradcolor3 !important;
    }

    main when (@gradType =flouss) {
        background: linear-gradient(109.6deg,
        @gradcolor3 0%,
        @gradcolor4 25%,
        @gradcolor1 50%,
        @gradcolor2 100%);
        margin: 0;
    }


    main when (@gradType =animated) {
        background: linear-gradient(109.6deg, @gradcolor3 13.4%, @gradcolor4 25%, @gradcolor1 70%, @gradcolor2 100.2%);
        background-size: 400% 400%;
        animation: gradientAnimation 20s ease infinite;
    }


    main when (@gradType =nouss) {
        background-color: @gradcolor3 !important;
    }

    [data-testid="screen-sidebar"] when (@gradType =flouss) {
        background: linear-gradient(109.6deg,
        @gradcolor3 0%,
        @gradcolor4 25%,
        @gradcolor1 50%,
        @gradcolor2 100%);
        margin: 0;
    }


    [data-testid="screen-sidebar"] when (@gradType =animated) {
        background: linear-gradient(109.6deg, @gradcolor3 13.4%, @gradcolor4 25%, @gradcolor1 70%, @gradcolor2 100.2%);
        background-size: 400% 400%;
        animation: gradientAnimation 20s ease infinite;
    }


    [data-testid="screen-sidebar"] when (@gradType =nouss) {
        background-color: @gradcolor3 !important;
    }

    .bg-token-sidebar-surface-primary when (@gradType =flouss) {
        background: linear-gradient(109.6deg,
        @gradcolor3 0%,
        @gradcolor4 25%,
        @gradcolor1 50%,
        @gradcolor2 100%);
        margin: 0;
    }


    .bg-token-sidebar-surface-primary when (@gradType =animated) {
        background: linear-gradient(109.6deg, @gradcolor3 13.4%, @gradcolor4 25%, @gradcolor1 70%, @gradcolor2 100.2%);
        background-size: 400% 400%;
        animation: gradientAnimation 20s ease infinite;
    }


    .bg-token-sidebar-surface-primary when (@gradType =nouss) {
        background-color: @gradcolor3 !important;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }



    main::before when (@grain =1) {
        content: "" !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        pointer-events: none !important;
        z-index: 0 !important;
        background: url("https://grainy-gradients.vercel.app/noise.svg") repeat !important;
        opacity: 0.23 !important;
    }



    .flex.h-9.items-center,
    .flex.h-9.items-center:hover,
    .group.flex.h-10.items-center.gap-2\.5.rounded-lg.bg-token-sidebar-surface-primary,
    .group.flex.h-10.items-center.gap-2\.5.rounded-lg.bg-token-sidebar-surface-primary:hover {
        @doubleThingy();
    }

    .group\/\sidebar > div,
    .group\/\sidebar > div:hover {
        padding: 10px;
        background-image: none !important;
    }



    /* Text at the bottom */
    .min-h-4 {
        position: relative !important;
        color: transparent !important;
        font-size: inherit;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .text-center.text-xs.text-token-text-secondary {
        position: relative !important;
        color: transparent !important;
        font-size: inherit;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .text-center.text-xs.text-token-text-secondary:hover {
        @disappear();
    }

    .text-center.text-xs.text-token-text-secondary::after {
        content: 'ChatGPT just like me fr fr: never makes any mistakes.';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #b1adad !important;
        font-size: inherit;
        text-align: center;
        display: block;
        width: 100%;
        font-size: 12px;
    }



    /* Targeting the specific message bubble element */
    .bg-token-message-surface {
        position: relative;
        padding: 16px;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        overflow: hidden;
        color: white;
    }

    /* Adding the animated glowing gradient border using a pseudo-element  div.relative.max-w-\[70\%\].rounded-3xl::before, */
    .bg-token-message-surface::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 3px;
        background: conic-gradient(from var(--start-angle) at 50% 50%, var(--radial-gradient-gold));
        animation: smoothSnakeSpin 4s linear infinite;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: -1;
    }

    /* Defining the keyframes for the gradient animation */
    @keyframes smoothSnakeLine {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 200% 50%;
        }
    }



    [role="menu"],
    [role="dialog"],
    .dark\:bg-token-main-surface-secondary:is(.dark *),
    button.bg-token-main-surface-primary.rounded-full,
    .radix-state-open\:bg-token-main-surface-secondary[data-state=open] {
        background-color: rgba(5, 5, 5, 0.281) !important;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding: 5px;
    }

    @media (min-width: 768px) {
        .md\:radix-state-active\:bg-token-main-surface-secondary[data-state=active] {
            background-color: rgba(0, 0, 0, .281) !important;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(253, 253, 253, .08);
            backdrop-filter: blur(100px) saturate(110%);
            -webkit-backdrop-filter: blur(100px);
            transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            padding: 5px;
        }
    }



    [data-highlighted],
    .dark\:radix-state-open\:bg-token-main-surface-secondary[data-state=open]:is(.dark *) {
        border: 1px solid rgba(0, 204, 255, 0.6);
        background-color: rgba(5, 5, 5, 0.35) !important;
        box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
        transform: translateY(-2px);
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-radius: 12px;
    }



    @media (hover: hover) and (pointer: fine) {
        .dark\:hover\:bg-token-main-surface-secondary:hover:is(.dark *) {
            border: 1px solid rgba(0, 204, 255, 0.6);
            background-color: rgba(5, 5, 5, 0.35) !important;
            box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
            transform: translateY(-2px);
            transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
            border-radius: 12px;
        }
    }




    .relative.flex.w-40.flex-col.gap-2.rounded-2xl.border.border-token-border-light.px-3.pb-4.pt-3.text-start.align-top.text-\[15px\].shadow-xxs.transition:hover {
        border: 1px solid rgba(0, 204, 255, 0.6);
        background-color: rgba(5, 5, 5, 0.35) !important;
        box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
        transform: translateY(-2px);
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-radius: 12px;
    }

    .relative.flex.items-center.gap-1\.5.rounded-full.border.px-3.py-2.text-start:hover {
        @menuItemHover();
    }


    .no-draggable.group.relative.rounded-lg:hover {
        background-color: rgba(5, 5, 5, 0) !important;
    }

    /* need to change this shit */
    [data-testid="share-chat-button"] {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }


    .text-token-text-secondary:hover,
    [aria-label="Close"]:hover,
    [data-testid="share-chat-button"]:hover,
    [aria-label="Next response"]:hover,
    {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }


    .bg-token-sidebar-surface-secondary,
    .from-token-sidebar-surface-secondary,
    .bg-token-main-surface-primary,
    .bg-token-main-surface-secondary,
    .hover\:bg-token-sidebar-surface-secondary:hover {
        background-color: rgba(5, 5, 5, 0);
    }
    
    .bg-token-main-surface-primary{
        @backdrop();
    }

    .from-token-sidebar-surface-secondary {
        --tw-gradient-from: rgba(5, 5, 5, 0) rgba(5, 5, 5, 0);
    }

    /* Explore GPTs page */
    .dark\:md\:bg-transparent:is(.dark *):hover {
        border: 1px solid rgba(0, 204, 255, 0.6);
        background-color: rgba(5, 5, 5, 0.35) !important;
        box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
        transform: translateY(-0.5px);
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-radius: 12px;
    }

    .dark\:bg-gray-700:is(.dark *) {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .dark\:bg-gray-700:is(.dark *):hover {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(255, 255, 255, .37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transform: translateY(-4px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform box-shadow 0.3s ease-in-out;
    }

    /* search suggestions */
    .absolute.top-\[calc\(100\%\-10px\)\].w-full.overflow-y-auto.rounded-lg.rounded-t-none.border.border-t-0.border-token-border-light.bg-token-main-surface-primary.px-3.py-2 {
        background-color: rgba(5, 5, 5, 0.281) !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding: 5px;
    }

    @media (hover: hover) and (pointer: fine) {
        .btn-secondary:hover,
        .btn-secondary {
            background-color: rgba(5, 5, 5, 0.281) !important;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(100px) saturate(110%);
            -webkit-backdrop-filter: blur(100px);
            transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            padding: 5px;
        }
    }

    .gizmo-link.cursor-pointer.group.mx-2.flex.items-center.gap-3.rounded-lg.px-3.py-2.hover\:bg-gray-50.dark\:hover\:bg-white\/10:hover,
    .gizmo-link.cursor-pointer.group.flex.h-\[104px\].items-center.gap-2\.5.overflow-hidden.rounded-xl.px-1.py-4.hover\:bg-token-main-surface-secondary.md\:px-3.md\:py-4.lg\:px-3:hover {
        border: 1px solid rgba(0, 204, 255, 0.6);
        background-color: rgba(5, 5, 5, 0.35) !important;
        box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.3);
        transform: translateY(-2px);
        transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-radius: 12px;
    }

    /*button at the top*/
    .btn.relative.btn-ghost:hover,
    [aria-label="Previous response"]:hover {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform: translateY(-2px);
    }

    /* sidebar styling */
    div.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary,
    body > div._parent_9n5rr_1 > div > nav > section {
        top: 0;
        left: 0;
        width: 260px;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(25px) saturate(200%) contrast(90%);
        -webkit-backdrop-filter: blur(25px) saturate(200%) contrast(90%);
        color: white;
        z-index: 1000;
        overflow-y: auto;
        scrollbar-width: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
        padding-bottom: 20px;
        position: relative;
    }




    div.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary::before,
    body > div._parent_9n5rr_1 > div > nav > section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 100%);
        backdrop-filter: blur(15px) saturate(180%) contrast(90%);
        border: 1px solid rgba(255, 255, 255, 0.1);
        /* Top layer border */
        box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        z-index: -1;
    }


    .no-draggable.group.relative.rounded-lg:hover {
        margin-left: 10px !important;
        transition: margin-left 0.2s ease;
    }


    .specific-bg-token-sidebar,
    .absolute.bottom-0.top-0.to-transparent.ltr\:right-0.ltr\:bg-gradient-to-l.rtl\:left-0.rtl\:bg-gradient-to-r.from-token-sidebar-surface-primary.from-token-sidebar-surface-primary.can-hover\:group-hover\:from-token-sidebar-surface-secondary.w-8.from-0\%.can-hover\:group-hover\:w-10.can-hover\:group-hover\:from-60\% {
        position: relative !important;
        overflow: hidden !important;
    }


    div.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary::after {
        content: 'SneshCorp. @1984. All rights reserved (to FallenStar).';
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-size: 9px;
        color: rgba(255, 255, 255, 0.7);
        z-index: 1000;
        pointer-events: none;
    }


    div.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary::after a {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
    }

    div.flex-shrink-0.overflow-x-hidden.bg-token-sidebar-surface-primary::after a:hover {
        color: rgba(255, 255, 255, 0.9);
    }

    /* ANCHOR [COPY CODE BUTTON] */
    pre > div > div.sticky > div.absolute {
        border-radius: 12px !important;
        border: 0px !important;
        backdrop-filter: none !important;
        background-color: rgba(5, 5, 5, 0) !important;
    }

    .absolute.bottom-0.right-2.flex.h-9.items-center {
        border: 0px !important;
        backdrop-filter: none !important;
        background-color: rgba(5, 5, 5, 0) !important;
    }

    .absolute.bottom-0.right-2.flex.h-9.items-center:hover {
        background-color: rgba(5, 5, 5, 0) !important;
        border-radius: 12px;
        box-shadow: 0 0px 5px rgba(0, 204, 255, 0.6);
    }


    /* ANCHOR [TOOLTIPS] */
    .bg-gray-950 {
        @backdrop();
    }

    .hover\:bg-token-main-surface-secondary:hover {
        @disappear();
    }

    /*ANCHOR [SETTINGS] */
    
    .overflow-y-auto.p-4{
        @backdrop();
    }
    
    .btn-danger-outline{
        background: transparent !important;
    }
    
    .dark\:bg-orange-800:is(.dark *){
         background: @creamColor;
    }
    
    .dark\:from-gray-800:is(.dark *){
        background: transparent !important;
    }
    
    /* ANCHOR [FIX SIDEBAR DEC 2024] */ 
    
    .from-\[var\(--item-background-color\)\] {
    --tw-gradient-from: transparent !important;
    }
    
    .bg-\[var\(--item-background-color\)\]{
        background: transparent !important;
    }
    
    .btn.relative.btn-primary{
        @backdrop();
        color: @creamColor;
    }
    
    
    .block > .flex.justify-start.pt-2.h-full,
    .ͼ1p, .cm-gutters,
    ._codemirror_cto5h_1 .cm-activeLineGutter {
        @backdropSimpler();
    }
    
    
    
    .absolute.bottom-0.z-20.h-24.w-full.transition-colors {
        @disappear();
    }
    
    .flex-item.my-1.flex.min-w-40.cursor-pointer.items-center.overflow-hidden.text-clip.whitespace-nowrap.rounded-2xl.py-2.pl-4.pr-2.font-medium.transition-colors:hover{
        @buttonsHover();
    }
    
    /* ANCHOR [NEW FUCKING WTF PAGE FOR CHROME] */
    .bg-token-composer-surface,
    ._primary_9ia9b_21,
    ._screen_m6s0a_1 [slot=trailing]:before,
    ._screen_m6s0a_1 [slot=trailing]:after,
    [slot="leading"],
    [data-testid="bar-container-default"],
    [inline-flex]:hover,
    ._label_1i27t_20:hover {
        @disappear();
    }


    #composer-background {
        @backdrop();
    }

    button:hover {
        @buttonsHover();
    }

    [bar-type="primary"] {
        border: none !important;
    }

    [role="menuitem"]:hover {
        @menuItemHover();
    }

    [role="listbox"] {
        @backdrop();
    }


    /*ANCHOR [ROOT] */
    :root {
        --gray-600: transparent !important;
    }
    
    :root {
  --start-angle: 0deg;
  --radial-gradient-gold: #f2a36600 25deg, #ad0057 43.4deg, #fbe3d100 60deg, #101419cc 100deg, #fff0 310deg, #101419cc 408.4deg;
  --radial-gradient-blue: #f2a36600 25deg, #0056ad 43.4deg, #fbe3d100 60deg, #101419cc 100deg, #fff0 310deg, #101419cc 408.4deg;
}
}